.vscode
**/__debug*
**/*_templ.go
tmp/
docs/admin

tests/system_tests/helpers/migrations
tests/system_tests/admin_app/endpoint_tests/*.png

!images/
images/*
!images/icons


tests/helpers/migrations

# The name of the TailwindCSS CLI
tailwindcss

# Generated TailwindCSS styles
static/css/style.css
