package views

import (
  . "github.com/matheusgomes28/urchin/common"
)

templ MakeAboutPage(links []Link, dropdowns map[string][]Link) {
  @MakeLayout("About", links, dropdowns, makeUnderConstruction(), []string{})
}