package views

templ MakeContactFailure(email string, err string) {
  <h2 class="text-2xl text-bold warning mb-4">Failed to send message from { email }!</h2>
  <p class="text-xl text-bold text-muted">Your message could not be sent. Error: <span class="text-extrabold">{ err }</span></p>
}
