package views

templ MakeContactSuccess(email string, name string) {
  <h2 class="text-2xl text-bold mb-4 urchin-success">Message Sent From { email }!</h2>
  <p class="text-xl text-bold urchin-text-muted">Thank you { name }. The message was successfully sent.</p>
}
