package views

import "github.com/matheusgomes28/urchin/common"

templ makeError(error_str string) {
  <article>
    <h2>Error Occurred!</h2>
    <p>{ error_str }</p>
  </article>
}

templ MakeErrorPage(error_str string, links []common.Link, dropdowns map[string][]common.Link) {
  @MakeLayout("Error!", links, dropdowns, makeError(error_str), []string{})
}
