package views

import (
  "fmt"
  . "github.com/matheusgomes28/urchin/common"
)

templ makeImage(image Image) {
  <h3>{ image.Name }</h3>
  <img src={fmt.Sprintf("/images/data/%s", image.Name)} />
}

templ MakeImagePage(image Image, links []Link) {
  @MakeLayout(image.Name, links, makeImage(image))
}
