package views

import (
  . "github.com/matheusgomes28/urchin/common"
)


templ MakeServicesPage(links []Link, dropdowns map[string][]Link) {
  @MakeLayout("Services", links, dropdowns, makeUnderConstruction(), []string{})
}